@import '../base/variables';
@import '../helpers/mixins';

.btn {
    background-color: $white;
    border: none;
    cursor: pointer;
    color: $black;
    padding: 1rem 1.5rem;
    margin: .5rem;
    border-radius: 50px;
    font-size: $body-size;
    font-weight: $regular;
    @include box-shadow($box-shadow);
    &:hover {
        background-color: black;
        color: white;
        @include primary-box-shadow-hover($primary-shadow-hover);
    }
    &:disabled {
        background-color: #eee;
        background-color: $white;
        color: #aaa;
        color: $muted;
        cursor: auto;
        box-shadow: none;
    }
    i, span, svg, .fas, .fa fa-icon {
        margin: 0 .5rem;
    }
    &.btn-primary {
        background-color: $primary;
        color: $white;
        @include primary-box-shadow($primary-shadow);
        &:hover {
            background-color: $white;
            color: $primary;
            // @include primary-box-shadow-hover($primary-shadow-hover);
        }
    }
    &.btn-secondary {
        background-color: $white;
        color: $primary;
        border: 1px solid $primary;
        &:hover {
            background-color: $background;
            color: $primary;
            border-color: transparent;
        }
    }
    &.btn-accent {
        background-color: $accent;
        color: $white;
        border: 1px solid $accent;
        @include accent-box-shadow($accent-shadow);
        &:hover {
            background-color: $white;
            color: $accent;
            border-color: transparent;
        }
        &.inverse {
            background: $white;
            color: $accent;
            border-color: transparent;
            &:hover {
                background-color: $accent;
                color: $white;
                border-color: $accent;
            }
        }
    }
    &.btn-success {
        background-color: $success;
        color: $white;
        @include success-box-shadow($success-shadow);
        &:hover {
            background-color: $white;
            color: $success;
        }
    }
    &.btn-warning {
        background-color: $warning;
        color: $white;
        @include warning-box-shadow($warning-shadow);
        &:hover {
            background-color: $white;
            color: $warning;
        }
    }
    &.btn-danger {
        background-color: $danger;
        color: $white;
        @include danger-box-shadow($danger-shadow);
        &:hover {
            background-color: $white;
            color: $danger;
        }
    }
    &.btn-tertiary {
        background-color: #E5F3FF;
        color: $primary;
        border: 1px solid $primary;
        &:hover {
            background-color: $background;
            color: $primary;
            border-color: transparent;
        }
    }
}

.filter {
    padding: 1em;
    margin: 0 .5em;
    background-color: #f0f0f0;
    border-radius: 32px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 180px;
    &.primary {
        background-color: $primary;
        color: $white;
    }
    &.accent {
        background-color: $accent;
        color: $white;
    }
    &.secondary {
        background-color: rgb(255,255,255,.25);
        color: $primary;
        border: 1px solid $primary;
        &:hover {
            background-color: $background;
            color: $primary;
            border-color: transparent;
        }
    }
}
.cursor {
    cursor: pointer;
}