@import '../base/variables';
@import '../helpers/mixins';

button {
    background-color: $white;
    border: none;
    cursor: pointer;
    color: $black;
    padding: 1rem;
    margin: .5rem;
    max-width: 240px;
    border-radius: 50px;
    font-size: $body-size;
    // @include box-shadow;
    &:hover {
        background-color: black;
        color: white;
    }
    &:disabled {
        background-color: #eee;
        background-color: $white;
        color: #aaa;
        color: $muted;
        cursor: auto;
        box-shadow: none;
    }
    &.btn-primary {
        background-color: $primary;
        color: $white;
        // @include primary-box-shadow;
        &:hover {
            background-color: $white;
            color: $primary;
        }
    }
    &.btn-secondary {
        background-color: $background;
        color: $primary;
        &:hover {
            background-color: $primary;
            color: $background;
        }
    }
    &.btn-tertiary {
        background-color: $primary;
        color: $white;
        border: 1px solid $primary;
        &:hover {
            background-color: $white;
            color: $primary;
            border: none;
        }
    }
    &.btn-success {
        background-color: $success;
        color: $white;
        &:hover {
            background-color: $white;
            color: $success;
        }
    }
    &.btn-warning {
        background-color: $warning;
        color: $white;
        &:hover {
            background-color: $white;
            color: $warning;
        }
    }
    &.btn-danger {
        background-color: $danger;
        color: $white;
        &:hover {
            background-color: $white;
            color: $danger;
        }
    }
}