@import '../base/variables';

.product-card {
    overflow: hidden;
    padding: 0;
    // box-shadow: $primary-shadow;
    @include primary-box-shadow($primary-shadow);
    .card-header {
        border: 0;
        padding: 0;
        .card-image {
            width: 100%;
            height: 12em;
            object-fit: cover;
        }
    }
    .card-body {
        padding: 1.2em 1em;
        .card-title {
            font-size: 1.2rem;
            font-weight: $medium;
        }
        .price {
            font-size: 2em;
            font-weight: $semibold;
            margin: 0;
            // color: $accent;
            &::before {
                content: '\20b5';
                margin-right: .25em;
                font-family: $font-family;
            }
        }
        .wishlist-icon {
            font-size: 1.4em;
        }
        .course-details {
            .fas, .far, .fa, svg {
                color: $primary;
                fill: $primary;
            }
            .list-details {
                color: $muted;
            }
        }
    }
    .card-footer {
        padding: 0;
        border: 0;
        .btn {
            width: 100%;
            margin: 0;
            border-radius: 0;
            max-width: none;
        }
    }
}
.overview-title {
    font-size: 1.8em;
    font-weight: $semibold;
    line-height: 1.5;
    text-shadow: $text-shadow;
}