header {
    position: relative;
    &.header {
        height: 15vh;
        display: flex;
        align-items: center;
    }
    &.header-sticky {
        position: sticky;
        top: 0;
        background: $background;
        z-index: 999;
    }
    &.header-absolute {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: transparent;
        z-index: 999;
    }
    .navbar {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .logo {
            width: 160px;
            object-fit: contain;
        }
        .menu {
            display: flex;
            align-items: center;
            justify-content: center;
            .nav-item {
                color: $black;
                text-decoration: none;
                width: 100%;
                .nav-link {
                    font-size: 1rem;
                    margin: 0 .5em;
                    height: 100%;
                    padding: .5em;
                    color: inherit;
                    &:hover, &:focus {
                        color: $primary;
                    }
                    &.active {
                        color: $accent;
                        font-weight: $medium;
                    }
                }
                &.active {
                    .nav-link {
                        color: $primary;
                        text-shadow: $text-shadow;
                        font-weight: $medium;
                    }
                }
            }
        }
        
    }
    .menu-collapse-container {
        position: relative;
        min-height: auto;
        max-height: 50vh;
        overflow: auto;
        top: 0;
        box-shadow: none;
        background-color: $background;
        .card {
            margin: .5em 0;
            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: .5em 1em;
                .overall-title {
                    font-size: 1.8em;
                    color: $primary;
                }
                h3 {
                    font-size: 1.2em;
                    color: $black;
                    font-weight: $medium;
                    margin: 0;
                    line-height: 1.5;
                }
                img {
                    max-width: 2em;
                }
            }
            .card-body {
                padding: .5em 0;
                li {
                    padding: 0 1em;
                    margin: .5em 0;
                    font-size: $span-size;
                }
                a {
                    color: $black;
                    &:hover {
                        color: $accent;
                    }
                    &.locked-item {
                        color: $muted;
                    }
                }
            }
        }
    } 
    #navbarSupportedContent {
        position: absolute;
        top: 13vh;
        left: 0;
        right: 0;
        width: 100%;
        min-height: 50vh;
        // height: 100%;
        background: white;
        border-radius: 1em;
        // overflow: hidden;
        @include box-shadow($box-shadow);
    }
    .menu-img {
        display: none;
    }
    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar-brand {
        &:focus-visible {
            border: 0;
        }
    }
}