<app-hero></app-hero>

<section class="pt-2 pb-0">
    <!-- Product Container -->
    <app-product-list></app-product-list>
    
    <div class="container flex flex-center my-5 text-center">
        <div class="card border-0 bg-transparent">
            <div class="card-header border-0 bg-transparent">
                <h2 class="card-title overview-title">Welcome to the Ultimate Design Community</h2>
                <a href="https://youtu.be/RefiyCcj9cI" class="btn btn-accent"><fa-icon [icon]="faYoutube"></fa-icon> Join the design community!</a>
            </div>
            <div class="card-body">
                <iframe width="660" height="415" src="https://www.youtube.com/embed/RefiyCcj9cI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
        </div>
    </div>

    <!-- About Me -->
    <app-about-me></app-about-me>
  
    
  
    <!-- Testimonials -->
    <app-testimonials></app-testimonials>
  
    <!-- Join the community -->
    <app-join-community></app-join-community>
</section>