<!-- Quotes from designers or Bio about me -->
<div class="flex flex-center quotes-from-me my-lg-4 my-sm-3 py-lg-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-12">
          <div class="content">
            <h2>
              Guiding and supporting aspiring designers, building a diverse community
            </h2>
            <!-- <h2>
              Empowering the next generation of designers through personalized education, community building and championing diversity and inclusion in STEM
            </h2> -->
            <p>Clarice Peru, UI/UX Designer</p>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <img src="../assets/images/profile_pic.jpg" alt="profile pic">
        </div>
      </div>
    </div>
</div>