<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center pb-3 border-bottom">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="my-3">
                    <a href="/">
                        <img src="../assets/images/peru-designs-logo.svg" class="logo" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="social-media-icons flex">
                    <a href="https://www.facebook.com/clarice.peru" target="_blank">
                        <div class="social-link mx-2"><fa-icon [icon]="faFacebookF"></fa-icon></div>
                    </a>
                    <a href="https://www.instagram.com/clariceperu.designs/" target="_blank">
                        <div class="social-link mx-2"><fa-icon [icon]="faInstagram"></fa-icon></div>
                    </a>
                    <a href="https://dribbble.com/peru_clarice" target="_blank">
                        <div class="social-link mx-2"><fa-icon [icon]="faDribbble"></fa-icon></div>
                    </a>
                    <a href="https://twitter.com/peru_clarice" target="_blank">
                        <div class="social-link mx-2"><fa-icon [icon]="faTwitter"></fa-icon></div>
                    </a>
                    <a href="https://www.linkedin.com/in/clarice-jeberur-283054169/" target="_blank">
                        <div class="social-link mx-2"><fa-icon [icon]="faLinkedinIn"></fa-icon></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-4">
            <div class="col-lg-6 col-md-6 col-12">
                <h4>Wanna Learn Something Today?</h4>
                <ul class="nav footer-menu">
                    <a href="/">
                        <li class="menu-item">Home</li>
                    </a>
                    <a href="/portfolio">
                        <li class="menu-item">Portfolio</li>
                    </a>
                    <a href="/about-me">
                        <li class="menu-item">About Me</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div>
                    <ul class="contact-email nav">
                        <a href="mailto:claricekibii@gmail.com">
                            <li class="nav-item"><fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon>Contact me @ claricekibii@gmail.com</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>