<footer class="footer py-4">
    <div class="container-lg">
        <div class="row align-items-center justify-content-between border-bottom">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="my-3">
                    <a href="/">
                        <img src="../assets/images/peru-designs-logo.svg" class="logo" alt="logo">
                    </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="flex flex-center justify-content-end">
                    <a href="#">
                        <div class="social-link mx-2">
                            <fa-icon [icon]="faFacebookF"></fa-icon>
                        </div>
                    </a>
                    <a href="#">
                        <div class="social-link mx-2"><fa-icon [icon]="faInstagram"></fa-icon></div>
                    </a>
                    <a href="#">
                        <div class="social-link mx-2"><fa-icon [icon]="faDribbble"></fa-icon></div>
                    </a>
                    <a href="#">
                        <div class="social-link mx-2"><fa-icon [icon]="faLinkedinIn"></fa-icon></div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row pt-3 pb-4">
            <div class="col-lg-6 col-md-6 col-12">
                <h2>Wanna Learn Something Today?</h2>
                <ul class="nav footer-menu">
                    <a href="#">
                        <li class="menu-item">Figma Classes</li>
                    </a>
                    <a href="#">
                        <li class="menu-item">UI/UX Classes</li>
                    </a>
                    <a href="#">
                        <li class="menu-item">Mentorship Classes</li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div>
                    <ul class="nav justify-content-end">
                        <a href="#">
                            <li class="nav-item"><fa-icon [icon]="faEnvelope" class="mr-2"></fa-icon>Contact me @ claricekibii@gmail.com</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>