<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/clients/client-1.png" alt="QXP Logo" class="mb-3" style="width: 110px;">
            <h4>Plan Your Meds</h4>
          <h1>Health Mobile App</h1>
          <p>
            QXP is a learning management system created for several demographics (children, higher education and SMEs)
            </p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Learning Management System</span>
            <span class="filter primary">Laravel</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/QXP/cover-img-2.png" alt="Case Study Cover" class="h-100">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        QXP is a learning management system created for several demographics (children, higher education and SMEs) This online school system was created so any institution/business can create their own courses and teach their learners all online
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            This web app was created during the 2019 quarantine period when most people couldn’t go to a physical building for training/learning
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">UI/UX Designer</span><span class="filter">Frontend Developer</span></p>
                        <p>Timeline: <span class="filter">2 Years</span></p>
                        <p>Industry: <span class="filter">Education Platform</span></p>
                        <p>Link: <a href="https://qxp.global/" target="_blank"><span class="filter">QXP Link</span></a></p>
                        <p>Tools Used: 
                            <img src="/assets/images/icons/html5.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Css.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/sass.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Laravel.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Design Thinking - By using the UX research principle with ample research, definition, designing, and iteration
                    </p>
                    <img src="/assets/images/Portfolio/design-thinking-1.jpg" alt="design thinking" class="my-3 object-fit-contain" style="max-height: 300px;">

                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <!-- <div class="col-lg-12" id="research">
                    <h4 class="fw-medium" style="opacity: .8;">Research</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                </div> -->

                <div class="col-lg-12" id="research">
                    <h4 class="fw-medium" style="opacity: .8;">Empathy</h4>
                    <p>
                        We needed to empathize with three target groups (learners, instructors and admins), these were our main concerns:
                    </p>
                    <ul>
                        <h6>Learners:</h6>
                        <li><p>Creating easy navigation so they can easily see their upcoming classes</p></li>
                    </ul>
                    <ul>
                        <h6>Instructors:</h6>
                        <li><p>Making it easy for them to invite or registering a learner into their class</p></li>
                        <li><p>Easily creating courses, classes and marking attendance</p></li>
                    </ul>
                    <ul>
                        <h6>Admins:</h6>
                        <li><p>Easily register a school into the platform</p></li>
                        <li><p>Managing privileges, billing and users</p></li>
                    </ul>
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        Target audience was school institutions and SMEs
                    </p>

                    <div class="text-center my-4">
                        <h6><i>User Personas</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/QXP/style-guide/persona-1.png" alt="UI Persona">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/QXP/style-guide/persona-2.png" alt="UI Persona">
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <h6><i>Brand Style Guide</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/QXP/style-guide/typography.svg" alt="Brand style guide">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/QXP/style-guide/60-30-10.svg" alt="Brand style guide">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" id="user-flow">
                    <h4 class="fw-medium" style="opacity: .8;">User Flow</h4>
                </div>

                <div class="col-lg-12" id="wireframes">
                    <h4 class="fw-medium" style="opacity: .8;">Wireframes</h4>
                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>
                    <p>
                       These were the High-fidelity designs:
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Newer Screens</i></h6>
                        <div class="ui-designs">
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/instructors-dash.svg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/learner-dash.svg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/onboarding-1.svg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/onboarding-2.svg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/onboarding-3.svg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/QXP/ui-designs/new-screens/onboarding-4.svg" alt="UI Designs">
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-4">
                        <h6><i>Older Screens</i></h6>
                        <div class="ui-designs">
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/1.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/2.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/3.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/4.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/5.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/6.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/7.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/8.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/9.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/10.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/11.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/12.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/QXP/ui-designs/old-screens/13.jpg" alt="UI Designs">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="prototyping">
                    <h4 class="fw-medium" style="opacity: .8;">Prototyping</h4>
                </div>

                <div class="col-lg-12" id="development">
                    <h4 class="fw-medium" style="opacity: .8;">Development</h4>

                    <div class="text-center my-4">
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="/assets/images/Portfolio/QXP/developed/1.jpg" alt="Developed">
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/images/Portfolio/QXP/developed/2.jpg" alt="Developed">
                            </div>
                        </div>
                    </div>

                    <div class="text-center my-4">
                        <h6><i>Mockup Versions</i></h6>
                        <div class="row bg-white p-4">
                            <div class="col-lg-4">
                                <img src="/assets/images/Portfolio/QXP/developed/academy-dash-desktop.jpg" alt="Developed">
                            </div>
                            <div class="col-lg-4">
                                <img src="/assets/images/Portfolio/QXP/developed/academy-dash-laptop.jpg" alt="Developed">
                            </div>
                            <div class="col-lg-4">
                                <img src="/assets/images/Portfolio/QXP/developed/old-cover.jpg" alt="Developed">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">What I would have done differently</h2>
                    <p>
                        These are the lessons and learnings I got from working on this project
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#1. Designing first before development</h4>
                    <p>
                        This was in the beginning point of my UI/UX design, so I immediately developed designs that I was thinking and not even considering confirming sketches with the client
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#2. Prioritizing UI over UX</h4>
                    <p>
                        My biggest priority was to make things look pretty first over the functionality of the UI elements, this cost me a lot of valuable time when developing
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#3. Evangelizing importance of UI/UX methodologies</h4>
                    <p>
                        Working in a small team, not much consideration was taken over the importance of UI/UX during the development process, which caused me to keep redoing designs over and over. I as both the designer and front-end developer should have spearheaded the importance of this more and perhaps what took us weeks to accomplish could have been cut in half
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<!-- <app-contact-me></app-contact-me> -->