<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/Elixr/logo.png" alt="Nolla Bank Logo" class="mb-3" style="width: 110px;">
            <h4>Elixr</h4>
          <h1>Dating Mobile App</h1>
          <p>
            Creating a social platform, for the older generation, to find love and connections</p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Social Sector</span>
            <span class="filter primary">Figma</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/Elixr/cover-thumbnail-1.png" alt="Case Study Cover" class="h-100 object-fit-contain" style="max-height: 500px;">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        A lot of older generation communities lack having a social life, especially since their children have grown up to explore their own lives, leaving them lacking and lonely, especially in the case if they’ve lost their loved ones/partners
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            We wanted to see how best to solve the lonely epidemic that plagues the older generation by creating a social platform app for them
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">UI/UX Designer</span><span class="filter">Frontend Developer</span></p>
                        <p>Timeline: <span class="filter">6 Weeks</span></p>
                        <p>Industry: <span class="filter">Dating Sector</span></p>
                        <p>Role: 
                            <img src="/assets/images/icons/html5.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Css.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/sass.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Laravel.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Design Thinking - By using the UX research principle with ample research, definition, designing, and iteration
                    </p>
                    <img src="/assets/images/Portfolio/design-thinking-1.jpg" alt="design thinking" class="my-3 object-fit-contain" style="max-height: 300px;">

                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <div class="col-lg-12" id="research">
                    <h4 class="fw-medium" style="opacity: .8;">Research</h4>
                    <p>
                        We carried out interviews for ages above 50+ to find out the best way the socialize, where they go to socialize and how they enjoy socializing if at all Results were there
                    </p>
                    <div class="text-center my-4">
                        <h6><i>Research</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Elixr/research/competitor-analysis.jpg" alt="Research">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        We created 2 personas in order to address their interests based on the results from the research. The target audience was of 50+ year old people
                    </p>

                    <div class="text-center my-4">
                        <h6><i>User Personas</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Elixr/research/persona-1.jpg" alt="UI Persona">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Elixr/research/persona-2.jpg" alt="UI Persona">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" id="wireframes">
                    <h4 class="fw-medium" style="opacity: .8;">Wireframes</h4>
                    <p>
                        We initially started ideating wireframes for a web app, but we quickly scraped it to mobile apps, due to coming back to research and finding out they’d much rather use their phones
                    </p>
                    <div class="text-center my-4">
                        <h6><i>Wireframes</i></h6>
                        <div class="ui-designs">
                            <div class="items">
                                <img src="assets/images/Portfolio/Elixr/wireframes/1.jpg" alt="UI Persona">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/Elixr/wireframes/2.jpg" alt="UI Persona">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/Elixr/wireframes/3.jpg" alt="UI Persona">
                            </div>
                            <div class="items">
                                <img src="assets/images/Portfolio/Elixr/wireframes/4.jpg" alt="UI Persona">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>
                    <p>
                        These were the hi-fidelity designs created
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Newer Screens</i></h6>
                        
                        <div class="ui-designs phone-size">

                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/1.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/2.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/3.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/4.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/5.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/6.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/8.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/9.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/11.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/13.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/14.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/15.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/16.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/17.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/18.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/19.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/20.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/21.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/22.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/23.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/24.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/25.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/26.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/27.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/28.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/29.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/30.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/31.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/32.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/33.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/34.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Elixr/ui-designs/35.jpg" alt="UI Designs">
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="prototyping">
                    <h4 class="fw-medium" style="opacity: .8;">Prototyping</h4>
                    <p>
                        These were the prototype screens created before development 
                    </p>

                    <div class="text-center my-4">
                        <div class="row flex-wrap bg-muted p-4 prototype-phone">
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/1.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/5.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/6.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/7.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/8.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/9.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/Elixr/prototype/10.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <h6>Prototype</h6>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- <div class="col-lg-12" id="development">
                    <h4 class="fw-medium" style="opacity: .8;">Development</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                </div> -->

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution chosen and why</h2>
                    <ul>
                        <p>
                            Why a mobile app:
                        </p>
                        <li><p>Based on our research, the target normally interact with their phones more than laptops/desktops</p></li>
                        <li><p>It would be faster and more convenient to use and find connections and upcoming events</p></li>
                        <li><p>Having conversations that look similar to Whatsapp would help them, since they interact with Whatsapp daily, hence making the interaction with the app easier</p></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<!-- <app-contact-me></app-contact-me> -->