<section class="hero-section flex flex-center">
    <div class="container cta">
      <div class="row flex flex-center">
        <div class="col-lg-6 col-12">
          <h1>Come & Learn what it means to be a
            <span class="multi-color">
              <span class="color-1">D</span>
              <span class="color-2">e</span>
              <span class="color-3">s</span>
              <span class="color-4">i</span>
              <span class="color-5">g</span>
              <span class="color-3">n</span>
              <span class="color-5">e</span>
              <span class="color-1">r</span>
              <!-- <span class="color-7">...</span> -->
              <!-- <span class="underline"></span> -->
            </span>
          </h1>
          <p>Hello, I'm Peru a UI/UX Designer, and I'll be your guide into this wonderful adventure we call Design
          </p>
          <div class="row">
            <div class="col-lg-6 col-12 p-0">
              <a href="#productOverview" class="btn btn-primary w-100 ml-0">Let's Begin Classes</a>
            </div>
            <div class="col-lg-6 col-12 p-0">
              <a href="mailto:claricekibii@gmail.com" class="btn btn-accent w-100"><i class="fas fa-envelope"></i>Reach Out to Me</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="cta-image"></div>
        </div>
      </div>
    </div>
</section>