<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/vertex-pay/logo.png" alt="Nolla Bank Logo" class="mb-3" style="width: 110px;">
            <h4>Vertex Pay</h4>
          <h1>Banking Mobile App</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur. Velit phasellus odio mauris iaculis egestas. Vulputate turpis mattis pretium diam tincidunt adipiscing morbi.
          </p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Finance Sector</span>
            <span class="filter primary">Figma</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/vertex-pay/cta-super-dark.png" alt="Case Study Cover" class="h-100 object-fit-contain" style="max-height: 500px;">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">UI/UX Designer</span></p>
                        <p>Timeline: <span class="filter">8 Months</span></p>
                        <p>Industry: <span class="filter">Health Sector</span></p>
                        <p>Role: 
                            <img src="/assets/images/icons/html5.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Css.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/sass.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <!-- <div class="col-lg-12">
                    <h2 class="title fw-semibold">Problem Brief</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                </div> -->

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <div class="col-lg-12" id="research">
                    <h4 class="fw-medium" style="opacity: .8;">Research</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                    <!-- <div class="text-center my-4">
                        <h6><i>Research</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/vertex-pay/research/2.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/vertex-pay/research/3.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/vertex-pay/research/4.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/vertex-pay/research/5.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/vertex-pay/research/6.jpg" alt="Research">
                            </div>
                        </div>
                    </div> -->
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Brand Style Guide</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/vertex-pay/style-guide/60-30-10.svg" alt="Brand Style Guide">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/vertex-pay/style-guide/typography.svg" alt="Brand Style Guide">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" id="user-flow">
                    <h4 class="fw-medium" style="opacity: .8;">User Flow</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                    <!-- <div class="text-center my-4">
                        <h6><i>Research</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-8">
                                <img src="assets/images/Portfolio/vertex-pay/research/6.jpg" alt="Research">
                            </div>
                        </div>
                    </div> -->

                </div>

                <div class="col-lg-12" id="wireframes">
                    <h4 class="fw-medium" style="opacity: .8;">Wireframes</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Screens</i></h6>
                        
                        <div class="ui-designs">

                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/1.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/3.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/6.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/7.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/8.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/9.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/10.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/11.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/12.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/13.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/4.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/2.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/vertex-pay/ui-designs/5.png" alt="UI Designs">
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="prototyping">
                    <h4 class="fw-medium" style="opacity: .8;">Prototyping</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                </div>

                <div class="col-lg-12" id="development">
                    <h4 class="fw-medium" style="opacity: .8;">Development</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Landing Page</i></h6>
                        <div class="row bg-white p-4">
                            <div class="col-lg-6">
                                <img src="/assets/images/Portfolio/vertex-pay/landing-page.png" alt="Landing Page">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">What I Have Learnt</h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#1. Learning 1</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#1. Learning 1</h4>
                    <p>
                        Lorem ipsum dolor sit amet consectetur. Duis laoreet tellus ut tellus. Tempus penatibus gravida mauris sit tellus amet amet lobortis ac. Eget congue ac nisi velit sem purus. Fringilla sed eget netus morbi lacus vel.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<app-contact-me></app-contact-me>
