<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center" style="background-image: url(/assets/images/gradient-3.svg);">
    <div class="container cta">
      <div class="row align-items-center">
        <div class="col-lg-7 col-12">
            <h3>Hey, <br> I'm Clarice Peru</h3>
          <h1>A UI/UX
            <span class="multi-color">
              <span class="color-1">D</span>
              <span class="color-2">e</span>
              <span class="color-3">s</span>
              <span class="color-4">i</span>
              <span class="color-5">g</span>
              <span class="color-3">n</span>
              <span class="color-5">e</span>
              <span class="color-1">r</span>
              <!-- <span class="color-7">...</span> -->
              <!-- <span class="underline"></span> -->
            </span>
            & Frontend Developer
          </h1>
          <p>Have an in depth look into my case studies and design process</p>
          <div class="row">
            <!-- <div class="col-lg-6 col-12 p-0">
              <a href="#productOverview" class="btn btn-accent w-100 ml-0">Let's Begin Classes</a>
            </div> -->
            <div class="col-lg-6 col-12 p-0">
              <a href="/assets/ui-ux-resume-only-2023.pdf" download="ui-ux-resume-only-2023.pdf" class="btn btn-primary w-100"><i class="fas fa-download"></i>Download My Resume</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-12">
            <div>
                <img src="/assets/images/profile-pic.jpg" alt="Peru Profile Picture" class="h-100" style="border-radius: 12px;">
            </div>
        </div>
      </div>

      <!-- clients -->
      <div class="clients row align-items-center" style="justify-content: space-between;">
        <img src="/assets/images/Portfolio/clients/client-1.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-2.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-3.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-4.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-5.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-6.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-7.png" alt="client">
        <img src="/assets/images/Portfolio/clients/client-8.png" alt="client">
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section flex flex-center case-study">
    <div class="container">
        <div class="py-4">
            <h2 class="title fw-semibold">My Case Studies</h2>
            <p class="subtitle">A UI/UX Designer & Frontend Developer</p>
        </div>
      <div class="grid-container">

        <!-- Plan Your Meds -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/PYM/cover-thumbnail.jpg" alt="Plan your meds cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Plan Your Meds</h4>
                    <div class="row">
                        <span>Health Industry</span>
                        <span>Mobile App</span>
                        <span>Figma</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- Nolla Bank -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/Nolla bank/cover-thumbnail.jpg" alt="Nolla Bank cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Nolla Bank</h4>
                    <div class="row">
                        <span>Financial Banking Industry</span>
                        <span>Mobile App</span>
                        <span>Figma</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- SageBrief -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/SageBrief/cover-thumbnail.jpg" alt="SageBrief cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">SageBrief</h4>
                    <div class="row">
                        <span>Health Industry</span>
                        <span>iOS Mobile App Design</span>
                        <span>Figma</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- Elixr -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/Elixr/cover-thumbnail.jpg" alt="Elixr cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Elixr</h4>
                    <div class="row">
                        <span>Dating Industry</span>
                        <span>Mobile App Design</span>
                        <span>Figma</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- QXP -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/QXP/cover-thumbnail.jpg" alt="QXP cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">QXP</h4>
                    <div class="row">
                        <span>Learning Management System</span>
                        <span>Mobile App Design</span>
                        <span>Education Industry</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- regWand -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/regWand/cover-thumbnail.jpg" alt="regWand cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">regWand</h4>
                    <div class="row">
                        <span>Legal Industry</span>
                        <span>Web App Design</span>
                        <span>Figma</span>
                        <span>Angular</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- IPHero -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/IPHero/cover-thumbnail.jpg" alt="IPHero cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">IPHero</h4>
                    <div class="row">
                        <span>Legal Industry</span>
                        <span>Web App Design</span>
                        <span>Figma</span>
                        <span>Angular</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- trotro-diaries -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/trotro-diaries/cover-thumbnail.jpg" alt="trotro-diaries cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">TroTro Diaries</h4>
                    <div class="row">
                        <span>NGO</span>
                        <span>Web App Design</span>
                        <span>Figma</span>
                        <span>Webflow</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

        <!-- Vertex Pay -->
        <a href="" class="grid-item">
            <div class="card">
                <div class="card-header">
                    <img src="/assets/images/Portfolio/vertex-pay/cover-thumbnail.jpg" alt="Vertex Pay cover thumbnail">
                </div>
                <div class="card-body">
                    <h4 class="card-title">Vertex Pay</h4>
                    <div class="row">
                        <span>Financial Banking Industry</span>
                        <span>Web App Design</span>
                        <span>Figma</span>
                        <span>Angular</span>
                    </div>
                </div>
            </div>
            <div class="overlay flex flex-center">
                <a href="" class="btn btn-accent" role="button">View Case Study</a>
            </div>
        </a>

      </div>
    </div>
</section>
<!-- End Hero Section -->
