<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/regWand/logo-icon.png" alt="Nolla Bank Logo" class="mb-3" style="width: 80px;">
            <h4>regWand</h4>
          <h1>Legal Web App</h1>
          <p>
            A web platform that allows businesses to start, operate and grow their businesses within the African market by providing legal regulation data using a communicative AI.
        </p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Legal Sector</span>
            <span class="filter primary">Figma</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/regWand/dashboard-style.svg" alt="Case Study Cover" class="h-100 object-fit-contain" style="max-height: 500px;">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        regWand is a web platform that allows businesses to start, operate and grow their businesses within the African market by providing legal regulation data using a communicative AI.
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            We found that on avg, it costs a startup entrepreneur $5,000 to consult a lawyer for regulatory advice to analyze their business and how to advance, googling for such answers on Google or Chat GPT may be conflicting and cause high risks in their businesses 
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">Product Designer</span> <span class="filter">Frontend Developer</span></p>
                        <p>Timeline: <span class="filter">3 Months</span></p>
                        <p>Industry: <span class="filter">Legal Sector</span></p>
                        <p>Link: <a href="https://regwand.com/" target="_blank"><span class="filter">regWand Link</span></a></p>
                        <p>Tools Used: 
                            <img src="/assets/images/icons/html5.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Css.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/sass.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Angular.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/github.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Design Thinking - By using the UX research principle with ample research, definition, designing, and iteration
                    </p>
                    <img src="/assets/images/Portfolio/design-thinking-2.jpg" alt="design thinking" class="my-3 object-fit-contain" style="max-height: 300px;">

                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <div class="col-lg-12" id="research">
                    <h4 class="fw-medium" style="opacity: .8;">Research</h4>
                    <p>
                        I initially needed to see if our hypothesis of this problem was valid. This included multiple google forms sent out to lawyers as they were our target audience
                        After validating our hypothesis, we began with creating an empathy map to understand how best we can solve this problem
                        The empathy map helped us define what our MVP would include                        
                    </p>
                    <div class="text-center my-4">
                        <h6><i>Research</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/regWand/design-research/competitor-analysis.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/regWand/design-research/current-hacks.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/regWand/design-research/user-problems.jpg" alt="Research">
                            </div>
                            <div class="col-lg-4">
                                <img src="assets/images/Portfolio/regWand/design-research/empathy-map.jpg" alt="Research">
                            </div>
                        </div>
                    </div>
                    <h6><i>Research Data Levaraged</i></h6>
                    <p>
                        By using statista, we found this opportunity that many startup entrepreneurs face, and by cutting down their legal fees in their startup capital, this opportunity was ready for grabs. By using an empathy map we discovered that startup entrepreneurs don’t have the time to stay on top of their business’ regulatory needs and would much rather have it done for them by hiring lawyers and focus on their main business objectives

                    </p>
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        I defined the target audience as startup software entrepreneurs and I built a user persona comes here
                    </p>

                </div>

                <div class="col-lg-12" id="wireframes">
                    <h4 class="fw-medium" style="opacity: .8;">Wireframes</h4>
                    <p>
                        I created a user flow for possible procedure a user might take when navigating through the app
                    </p>
                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>

                    <div class="text-center my-4">
                        <h6><i>Screens</i></h6>
                        
                        <div class="ui-designs">

                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/1.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/2.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/3.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/4.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/5.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/6.png" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/regWand/ui-designs/7.jpg" alt="UI Designs">
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="prototyping">
                    <h4 class="fw-medium" style="opacity: .8;">Prototyping</h4>
                    <div class="row">
                        <div class="col-md-4">
                            <img src="/assets/images/Portfolio/regWand/prototype/Intro.gif" alt="prototype">
                        </div>
                    </div>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Exploration/Solutions Considered</h2>
                    <p>
                        We birthed regWand, a comprehensive legal web app platform that specializes in providing regulatory information using communicative AI and also services to businesses, helping them start, operate and scale across various African markets.
                    </p>
                </div>
                
                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution chosen and why</h2>
                    <p>
                        We found that this would help startup entrepreneurs focus mainly on their business’ objectives, since it would provide the following values:
                    </p>
                    <ul>
                        <li><p>Real time regulatory updates</p></li>
                        <li><p>Legal risks mitigated</p></li>
                        <li><p>Saving time & costs</p></li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution Validation</h2>
                    <p>
                        We tested our MVP through the following ways:
                    </p>
                    <ul>
                        <li><p>User Testing - We took the prototype through 2 tests with 2 different groups (startup entrepreneurs & lawyers)</p></li>
                        <li><p>A/B Testing - In the same 2 different groups, we provide two different versions of the web app prototype, to see which they’d gravitate more to as well as which helps them quickly onboard</p></li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Results After</h2>
                    <p>
                        We developed the prototype later into our first MVP and had up to 5 businesses onboarded and a revenue of up to $400
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<!-- <app-contact-me></app-contact-me> -->