@import './base/grid';

@media screen and (min-width: $md) {
    .header {
        #navbarSupportedContent {
            position: static;
            background: transparent;
            min-height: auto;
            max-height: none;
            height: 100%;
            top: 0;
            box-shadow: none;
        }
        .menu-collapse-container {
            position: absolute;
            top: 15vh;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            min-height: 50vh;
            max-height: none;
            // height: 100%;
            background: white;
            border-radius: 1em;
            overflow: hidden;
            box-shadow: $box-shadow;
        }
        .navbar {
            .menu {
                .nav-item {
                    width: auto;
                }
            }
        }
        .menu-img {
            display: block;
        }
    }
}

// Screen width 1200px
@media only screen and (max-width: $l) {
    // .container {
    //     max-width: $l;
    // }
}

// Screen width 992px
@media only screen and (max-width: $md) {
    // .container {
    //     max-width: $md;
    // }
    .quotes-from-me {
        .row {
            text-align: center;
            .content {
                margin-bottom: 1.5em;
                h2 {
                    font-size: 1.5em;
                }
            }
            img {
                max-width: 150px;
                height: 150px;
            }
        }
    }
    
}

// Screen width 768px
@media only screen and (max-width: $sm) {
    // .container {
    //     max-width: $sm;
    //     margin: 0 1em;
    // }
    .cta {
        h1 {
            font-size: $heading-size;
        }
    }
}

// Screen width 320px
@media only screen and (max-width: $xs) {
    // .container {
    //     max-width: $xs;
    // }
}
