/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

// Imported Directories

@import './helpers/helper-dir';
@import './base/base-dir';
@import './components/components-dir';

// Import print style
@import 'print';

/* Other application-wide Styles not imported */

body {
    margin: 0;
}
.row {
    margin: 0 auto;
}
img {
    width: 100%;
    height: 100%;
}
.bg-primary-light {
    background-color: $background;
}

.hero-section {
    min-height: 85vh;
    padding: 1em 0;
    .cta {
        p {
            font-size: 1.3em;
        }
        .cta-image {
            width: 100%;
            height: 100%;
            min-height: 450px;
            // background-color: $muted;
            background-image: url(../assets/images/cta-img-3.svg);
            background-size: contain; 
            background-position: center;
            background-repeat: no-repeat;
        }
        .multi-color {
            font-weight: inherit;
            position: relative;
            span {
                font-size: inherit;
                font-weight: inherit;
                margin: 0;
                &.color-1 {
                    color: $purple;
                }
                &.color-2 {
                    color: $lilac-purple;
                }
                &.color-3 {
                    color: $accent;
                }
                &.color-4 {
                    color: $lilac-purple;
                }
                &.color-5 {
                    color: $green;
                }
                &.color-6 {
                    color: $lilac-purple;
                }
                &.color-7 {
                    color: $black;
                }
                &.color-8 {
                    color: $black;
                }
            }
            .underline {
                background-image: url(../assets/images/underline.svg);
                width: 160px;
                height: 40px;
                background-repeat: no-repeat;
                background-size: contain;
                position: absolute;
                bottom: -30px;
                right: -30px;
                transform: rotate(4deg);
            }
        }
    }
}

.quotes-from-me {
    min-height: 50vh;
    color: $white;
    background-color: $primary;
    .row {
        align-items: center;
        .content {
            padding-left: 1em;
            h2 {
                position: relative;
                line-height: 1.5;
                font-size: 2em;
                // padding-left: 1em;
                &::before {
                    content: '\275D';
                    font-size: 4.5em;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.2;
                    color: rgb(255, 255, 255);
                    line-height: 20px;
                
                }
            }
            // p {
            //     padding-left: 1em;
            // }
        }
        img {
            max-width: 200px;
            height: 200px;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

i, span, svg, .fas, .fa fa-icon {
    margin: 0 .5rem;
}

.testimonial-quotes {
    min-height: 50vh;
    // color: $white;
    // background-color: $primary;
    .row {
        align-items: center;
        .content {
            padding-left: 1em;
            h2, p {
                position: relative;
                line-height: 1.5;
                font-size: 1.2em;
                font-weight: $regular;
                &::before {
                    content: '\275D';
                    font-size: 4em;
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0.2;
                    color: rgb(255, 255, 255);
                    color: $primary;
                    line-height: 20px;
                }
            }
        }
        .testimonial-name {
            font-size: 1.3em;
        }
        .testimonial-position {
            font-size: 1em;
        }
        img {
            max-width: 100px;
            height: 100px;
            width: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
.testimonal-card {
    border-radius: 1em;
    overflow: hidden;
    border: 0;
    @include primary-box-shadow($primary-shadow);
    .card-header {
        border: 0;
        justify-content: start !important;
    }
    .card-footer {
        background-color: transparent;
        border: 0;
        color: $muted;
    }
    img {
        width: 48px;
        height: 48px;
        border-radius: 50%;
    }
    .client {
        font-size: 1.2em;
    }
}

.join-the-community {
    min-height: 50vh;
    background-color: $white;
    background-color: $primary;
    color: $white;
}
.carousel {
    $carousel-transition-duration: .2s;
}
.navbar {
    flex-direction: row;
}

.product-detail-container {
    position: relative;
    .enroll-container {
        width: 100%;
        // max-width: 500px;
        // height: 20vh;
        background-color: #f4f4f4;
        position: fixed;
        bottom: 0;
        left: 250px;
        z-index: 99;
        padding: 1.5em 0;
        border-radius: 1.25em;
        @include box-shadow($box-shadow);
        left: 0;
        .row {
            align-items: center;
            justify-content: space-around;
        }
        .price {
            font-size: 2em;
            font-weight: $semibold;
            margin: 0;
        }
    }
    .image-cover {
        height: 50vh; 
        width: 100%;
        object-fit: cover;
        // background-image: url(../assets/images/products/3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: end;
        justify-content: start;
        overflow: hidden;
        position: relative;
        padding-bottom: 2em;
        color: $white;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background: linear-gradient(45deg, rgba(0, 0, 0, 0.4) 0%, transparent 100%);
            position: absolute;
            top: 0;
            left: 0;
        }
        h1 {
            color: $white;
            text-shadow: $text-shadow;
        }
    }
    .product-detail-content {
        .title {
            font-size: 2em;
            // text-decoration: underline;
            font-weight: $medium;
        }
        .hosted-by-img {
            width: 10em; 
            height: 10em;
            border-radius: 50%;
            object-fit: cover;
        }
        .ul-numbers {
            li {
                display: flex;
                align-items: center;
                margin-bottom: .5em;
                .numbers, .badges {
                    width: 1.8em;
                    height: 1.8em;
                    margin-right: .5em;
                    border-radius: 50%;
                    background-color: $accent-hue;
                    color: $accent-shade;
                    color: $accent;
                    font-size: 1.5em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .product-detail-accordion {
            width: 100%;
            .accordion {
                .accordion-item {
                    border-color: transparent;
                    margin-bottom: 1em;
                    border-radius: 1.25em;
                    overflow: hidden;
                    border-color: $accent;
                    border: 1px solid $accent;
                }
            }
        }
    }
}

.price {
    &::before {
        content: ' \20b5';
        font-family: monospace;
        font-family: none;
        margin-right: .1em;
    }
}

.offcanvas-backdrop {
    &.fade.show {
        opacity: 0.15;
    }
}

.add-to-cart {
    .products {
        display: block;
        position: relative;
        overflow: hidden;
        color: $black;
        border-radius: 1.25em;
        img {
            height: auto;
        }
        .product-title {
            font-size: 1.2em;
        }
        p {
            font-size: .7em;
        }
        span {
            font-size: .7em;
            color: $muted;
        }
        .price {
            font-size: 1.3em;
            font-weight: $semibold;
            color: inherit;
        }
        .delete-product {
            position: absolute;
            top: 0.5em;
            right: -20em;
            width: 28px;
            height: 28px;
            font-size: .9em;
            border-radius: 50%;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            opacity: 0;
            @include transition;
        }
        &:hover {
            text-decoration: none;
            color: inherit;
            .delete-product {
                right: 0.5em;
                opacity: 1;
            }
        }
    }
    .price {
        color: $accent;
    }
}
.add-to-cart-icon {
    border-radius: 50%;
    width: 3em;
    height: 3em;
    margin: 0 1rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coming-soon {
    &::after {
        content: '**Comming soon**';
        color: goldenrod;
        font-size: 65%;
        float: right;
        margin: 0 0.5em;
    }
}

// .add-shadow {
//     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;
// }



// Immport responsive style (DO NOT REMOVE)
@import 'responsive';