<section class="hero-section flex flex-center" style="background-image: url(/assets/images/gradient-3.svg);">
    <div class="container cta">
      <div class="row flex flex-center">
        <div class="col-lg-6 col-12">
          <h1>There's more to me than meets the eye</h1>
          <p>
            From designing mobile applications from conceptualizing to handoff, to winning awards and mentoring. Come and learn more about me
          </p>
          <div class="row">
            <div class="col-lg-6 col-12 p-0">
              <a href="mailto:claricekibii@gmail.com" class="btn btn-primary w-100"><i class="fas fa-envelope"></i>Reach Out to Me</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="cta-image"></div>
        </div>
      </div>
    </div>
</section>

<section class="section flex flex-center case-study">
    <div class="container">
        <div class="py-4">
            <h2 class="title fw-semibold">My Accomplishments</h2>
            <p class="subtitle">Here are some of the accomplishments I have done and very proud of</p>
        </div>
      <div class="grid-container">

        <div class="grid-item">
            <img src="/assets/images/accomplishments/be-me-digital-inclustion.png" alt="Be Me Digital Inclusion Mentorship Program">
            <h3>Be Me Digital Inclusion Mentorship Program | <span class="text-primary">2024</span></h3>
            <p>
                I mentored highschool girls as a woman in STEM, I mentored on my profession as a UI/UX designer and frontend developer. The key purpose of this mentorship is to show young girls that they can pursue a profession in STEM and not be intimidated
            </p>
        </div>

        <div class="grid-item">
            <img src="/assets/images/accomplishments/peru-designs-community.png" alt="Peru Design Community">
            <h3>Peru Designs Community | <span class="text-primary">2022 - Present</span></h3>
            <p>
                A design community where I mentor other potential and future junior designers on the principles of UI/UX design as well as figma design classes.
            </p>
        </div>

        <div class="grid-item">
            <img src="/assets/images/accomplishments/mest-community.png" alt="MEST Community">
            <h3>MEST Africa Community | <span class="text-primary">2022 - 2023</span></h3>
            <p>
                MEST incubator is a year long fully funded tech/business program where they take Africans from all walks of life, brings them into one room and help them come up with sustainable tech business startups, through the use of teaching coding, business and communication programs. Getting through the rigorous interview process of the MEST application and getting to be one of the 52 entrepreneurs in tech all across Africa is an achievement that has frankly changed my life. In terms of using my tech skills into functional businesses that would add value towards my society. I also got to advance my community and network on a global landscape.
            </p>
        </div>

        <div class="grid-item">
            <img src="/assets/images/accomplishments/global-goals-mun.png" alt="Golbal goals model UN">
            <h3>Global Goals Model United Nation | <span class="text-primary">2019</span></h3>
            <p>
                I had the profound opportunity to join the GGMUN platform as a voluntary delegate where we debated on current world crisis with other delegates and youth leaders from across the globe and came to a consensus together. As a delegate in the platform I gained a lot of skills in Negotiation, Critical Thinking and especially Diplomacy
            </p>
        </div>

        <div class="grid-item">
            <img src="/assets/images/accomplishments/nairobi-hackathon.png" alt="Nairobi hackathon">
            <h3>Nairobi Hackathon | <span class="text-primary">2018</span></h3>
            <p>
                This hackathon was carried out by the Nairobi Hackathon carried out at Strathmore University. During this competition my team of 5 girls called "Al-Galrithim" won the competition with over 200 participants. It was a competition overseed by industry experts such as Microsoft, Facebook and Angel Hack.
            </p>
        </div>

        <div class="grid-item">
            <img src="/assets/images/accomplishments/girls-code-ke.png" alt="Girls code Kenya">
            <h3>Girls Code Kenya | <span class="text-primary">2018</span></h3>
            <p>
                An NGO company that promotes tech development within the life of a girl. It promotes a technological culture and embraces the fact that a girl can do whatever she sets her mind on. Girls Code seeks the growth of technology especially in the sector of programming with major emphasis on web development. It holds holiday boot camps of 1 week to teach Highshool girls the basis of code. I contributed to the company as a teacher and a facilitated the smooth running of the boot camp operations. I as well worked as the Director of Operations within the company, so I got to oversee the operations of the company, such as taking meetings with possible sponsors such as Africa’s Talking LTD on future strategies concerning building the company and collaborating together
            </p>
        </div>

      </div>
    </div>
</section>

<!-- Video About Me -->
<app-peru-video-about-me></app-peru-video-about-me>

<section>
    <div class="container">
        <div class="text-center">
            <div class="py-4">
                <h2 class="title fw-semibold">News About Me</h2>
                <p class="subtitle">Things I have participated in</p>
            </div>
            <div class="card-body">
                <iframe src="https://www.linkedin.com/embed/feed/update/urn:li:ugcPost:7048617862080401408" height="693" width="604" frameborder="0" allowfullscreen="" title="My MEST Journey In Confidence"></iframe>
            </div>
        </div>
    </div>
</section>

<!-- About Me -->
<app-about-me></app-about-me>

<!-- Testimonials -->
<app-testimonials></app-testimonials>

<!-- Join the community -->
<app-join-community></app-join-community>

<!-- Contact me -->
<!-- <app-contact-me></app-contact-me> -->