<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/Nolla bank/design-process/logo-variations/final.png" alt="Logo" class="mb-3" style="width: 110px;">
            <h4>Nolla Bank</h4>
          <h1>Banking Mobile App</h1>
          <p>
            Nolla Bank is a small loan provider for small holder farmers within Malawi
        </p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Finance Sector</span>
            <span class="filter primary">Figma</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/Nolla bank/thumbnail.png" alt="Case Study Cover" class="h-100 object-fit-contain" style="max-height: 500px;">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        Nolla Bank is a small loan provider for small holder farmers within Malawi
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            Providing easily accessible small loans to small holder farmers for their capital was a challenge being done by big financial banks
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">UI/UX Designer</span><span class="filter">Team & Research Lead</span></p>
                        <p>Timeline: <span class="filter">8 Months</span></p>
                        <p>Industry: <span class="filter">Financial platform</span></p>
                        <p>Tools Used: 
                            <img src="/assets/images/icons/html5.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/Css.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/sass.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Design Thinking - By using the UX research principle with ample research, definition, designing, and iteration
                    </p>
                    <img src="/assets/images/Portfolio/design-thinking-3.jpg" alt="design thinking" class="my-3 object-fit-contain" style="max-height: 300px;">

                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        We created 2 personas in order to address their interests based on the results from the research.
                    </p>

                    <div class="text-center my-4">
                        <h6><i>User Personas</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Nolla bank/persona-1.jpg" alt="UI Persona">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Nolla bank/persona-2.jpg" alt="UI Persona">
                            </div>
                        </div>
                    </div>
                    <div class="text-center my-4">
                        <h6><i>Brand Style Guide</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Nolla bank/style-guide/typography.svg" alt="Brand style guide">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/Nolla bank/style-guide/60-30-10.svg" alt="Brand style guide">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" id="user-flow">
                    <h4 class="fw-medium" style="opacity: .8;">User Flow</h4>

                    <div class="text-center my-4">
                        <h6><i>User Flow</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-12">
                                <img src="/assets/images/Portfolio/Nolla bank/user-flow/onboard-flow-1.png" alt="User-flow">
                            </div>
                            <div class="col-lg-12 mt-4">
                                <img src="/assets/images/Portfolio/Nolla bank/user-flow/Employed-User-with-persona.jpg" alt="User-flow">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>
                    <p>
                        The hi-fidelity designs made are the following:
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Newer Screens</i></h6>
                        
                        <div class="ui-designs phone-size">

                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/1.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/2.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/3.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/4.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/5.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/6.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/8.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/9.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/11.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/13.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/14.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/15.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/16.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/17.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/18.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/19.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/20.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/21.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/22.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/23.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/24.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/25.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/Nolla bank/screens/26.jpg" alt="UI Designs">
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="development">
                    <h4 class="fw-medium" style="opacity: .8;">Development</h4>

                    <div class="text-center my-4">
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="/assets/images/Portfolio/QXP/developed/1.jpg" alt="Developed">
                            </div>
                            <div class="col-lg-6">
                                <img src="/assets/images/Portfolio/QXP/developed/2.jpg" alt="Developed">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution chosen and why</h2>
                    <p>
                        Why a mobile app - a mobile app was the best solution as from our research we found that:
                    </p>
                    <ul>
                        <li><p>Small holder farmers normally use their mobile phones in their business dealings</p></li>
                        <li><p>Mobile money has become widely adopted in this market and was key</p></li>
                        <li><p>A Lot of our users don’t use smartphones, so we needed to provide a USSD version of the app in order to request/pay for their loans</p></li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">What I would have done differently</h2>
                    <p>
                        During the duration of this project, the following were my findings:
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#1. Importance of sketching and wireframing</h4>
                    <p>
                        The client provided me with creative liberty to designing the application, and I went straight to designing high-fidelity designs before wireframing them and sharing with the client
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#2. Client payments</h4>
                    <p>
                        Because I worked solely as a freelance designer, client payments were not handled very smoothly, this became a headache, and learning how to navigate was a key learning point for me as a freelance designer
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<!-- <app-contact-me></app-contact-me> -->