<!-- Tabs product container -->
<div class="container">
  <div class="card b-0 bg-transparent">
    <div class="card-header bg-transparent b-0">
      <ul class="nav nav-pills border-0" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Figma Classes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">UI/UX Classes</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane" type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false">Mentorship</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link" id="disabled-tab" data-bs-toggle="tab" data-bs-target="#disabled-tab-pane" type="button" role="tab" aria-controls="disabled-tab-pane" aria-selected="false" disabled>Disabled</button>
        </li> -->
      </ul>
    </div>

    <div class="card-body p-0">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
          <!-- product container -->
          <div class="card b-0 bg-transparent">
            <div class="card-header row flex flex-center p-4 bg-transparent b-0">
              <div class="col-md-8 col-12">
                <h2 class="card-title overview-title">Figma Classes Overview</h2>
                <p>
                  Figma is a web-based design tool for creating graphics, wireframes and interactive prototypes. Learn how to use it, sign up for our Figma course now.
                </p>
                <!-- <p>
                  Figma is a design tool that helps you create and work on designs with other people. It's a web-based program, which means you don't have to download anything and can access it from any computer. It's great for creating graphics, layouts, and even interactive design prototypes. It's especially helpful for people working on website and mobile app designs, as everyone on the team can access and make changes to the same design file. Even if you're new to design, Figma's user-friendly interface makes it easy to learn and use. Plus, it's a great way to collaborate with other designers and get feedback on your work.
                </p> -->
              </div>
              <div class="col-md-4 col-12">
                <a href="#" class="btn btn-primary w-100 ml-3">See More On This Class</a>
              </div>
            </div>
            <div class="card-body">
              <!-- Products -->
              <app-collection-one></app-collection-one>
              <!-- End of products-->
            </div>
          </div>
          <!-- End of product container -->  
        </div>
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
          <div class="card b-0 bg-transparent">
            <div class="card-header row flex flex-center p-4 bg-transparent b-0">
              <div class="col-md-8 col-12">
                <h2 class="card-title overview-title">UI/UX Classes Overview</h2>
                <p>
                  UI/UX design is the process of creating the look, feel, and overall experience of a product, focusing on user interaction. Learn how to design and prototype user-centered products by signing up for our UI/UX course.
                </p>
                <!-- <p>
                  UI/UX is the design process of creating the look, feel and overall experience of a product, focusing on user interaction. UI is about the product's appearance, UX is about its functionality and usability. Junior/aspiring designers learn to create visually appealing and intuitive interfaces, and conduct research to understand user needs, goals and behaviours. Understanding UI/UX is key to creating products that are both pleasing to look at and easy to use.
                </p> -->
              </div>
              <div class="col-md-4 col-12">
                <a href="#" class="btn btn-primary w-100 ml-3">See More On This Class</a>
              </div>
            </div>
            <div class="card-body">
              <!-- Products -->
              <app-collection-two></app-collection-two>
              <!-- End of products-->
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <p>
            I am offering one-on-one mentorship, a personalized learning experience that provides guidance and support. Improve your design skills and achieve your goals by signing up for one-on-one mentorship now.
          </p>
          <!-- <p>
            As a UI/UX and design tools educator, I provide one-on-one and community mentorship to junior and aspiring designers. In my mentorship program, junior and aspiring designers will have the opportunity to work with me in a personalized, in-depth manner, where I will provide them with guidance and support as they learn and grow in their design careers. They will learn how to use design tools like Figma and Sketch in a hands-on, practical way and get the opportunity to apply their newly acquired skills on real-world projects.
          </p>
          <p>
            In a community mentorship, the junior and aspiring designers will also have the opportunity to connect and collaborate with other designers at different levels, which will help them to learn new techniques, build their portfolio, and create a supportive network of peers. Furthermore, I will be providing them with resources, feedback, and guidance on how to navigate the industry, and how to stay up-to-date with the latest design trends and best practices.
          </p>
          <p>
            In summary, my mentorship program offers junior and aspiring designers a personalized, hands-on learning experience, as well as access to a community of like-minded individuals, resources, and guidance to help them succeed in their design careers.
          </p> -->
        </div>
        <div class="tab-pane fade" id="disabled-tab-pane" role="tabpanel" aria-labelledby="disabled-tab" tabindex="0">...</div>
      </div>

    </div>
  </div>
</div>