<!-- Hero Section -->
<section class="hero-section portfolio-hero flex flex-center">
    <div class="ellipsis ellipsis-left"></div>
    <div class="ellipsis ellipsis-right"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-5 col-12">
            <img src="/assets/images/Portfolio/PYM/app-icon.png" alt="Nolla Bank Logo" class="mb-3" style="width: 80px;">
            <h4>Plan Your Meds</h4>
          <h1>Health Mobile App</h1>
          <p>
            Plan Your Meds is a mobile app that allows users to be able to create & manage medications for themselves and their loved ones
            </p>
          <div class="row" style="gap: .5em;">
            <span class="filter accent">Health Sector</span>
            <span class="filter primary">Figma</span>
          </div>
        </div>
        <div class="col-lg-7 col-12">
            <div>
                <img src="/assets/images/Portfolio/PYM/pym-cover.png" alt="Case Study Cover" class="h-100 object-fit-contain" style="max-height: 500px;">
            </div>
        </div>
      </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Case Study Section -->
<section class="section case-study">
    <div class="container">
        <div class="py-4">
            <div class="row mb-5">
                <div class="col-lg-7">
                    <h2 class="title fw-semibold">Background</h2>
                    <p>
                        Plan Your Meds is a mobile app that allows users to be able to create & manage medications for themselves and their loved ones
                    </p>
                    <div class="pt-4">
                        <h2 class="title fw-semibold">Problem Brief</h2>
                        <p>
                            We found that normally it’s hard to know whether a loved one is taking their medications, especially older and very young loved ones.
                        </p>
                    </div>
                </div>
                <div class="col-lg-5">
                    <h2 class="title fw-semibold">Overview</h2>
                    <div class="flex flex-wrap align-items-center gap-1">
                        <p>Role: <span class="filter">UI/UX Designer</span></p>
                        <p>Timeline: <span class="filter">8 Months</span></p>
                        <p>Industry: <span class="filter">Health Sector</span></p>
                        <p>Tools Used: 
                            <img src="/assets/images/icons/figma.svg" alt="tools" class="tools-icon">
                            <img src="/assets/images/icons/adobe-xd.svg" alt="tools" class="tools-icon">
                        </p>
                    </div>
                </div>
            </div>
            <div class="row" style="gap: 5em;">

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">My Process</h2>
                    <p>
                        Design Thinking - By using the UX research principle with ample research, definition, designing, and iteration
                    </p>
                    <img src="/assets/images/Portfolio/design-thinking-1.jpg" alt="design thinking" class="my-3 object-fit-contain" style="max-height: 300px;">

                    <div class="flex mt-4 gap-1">
                        <a (click)="scrollToElement('research')" class="btn btn-tertiary">Research</a>
                        <a (click)="scrollToElement('define')" class="btn btn-tertiary">Define</a>
                        <a (click)="scrollToElement('user-flow')" class="btn btn-tertiary">User Flow</a>
                        <a (click)="scrollToElement('wireframes')" class="btn btn-tertiary">Wireframes</a>
                        <a (click)="scrollToElement('ui-design')" class="btn btn-tertiary">UI Design</a>
                        <a (click)="scrollToElement('prototyping')" class="btn btn-tertiary">Prototyping</a>
                        <a (click)="scrollToElement('development')" class="btn btn-tertiary">Development</a>
                    </div>
                </div>

                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Research</h4>
                    <p>
                        User interviews were done by the client in order to find this problem was viable
                    </p>

                </div>
                
                <div class="col-lg-12" id="define">
                    <h4 class="fw-medium" style="opacity: .8;">Define</h4>
                    <p>
                        Target audience was older & young loved ones
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Brand Style Guide</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/PYM/style-guide/typography.svg" alt="Brand style guide">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/PYM/style-guide/60-30-10.svg" alt="Brand style guide">
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12" id="user-flow">
                    <h4 class="fw-medium" style="opacity: .8;">User Flow</h4>

                    <div class="text-center my-4">
                        <h6><i>User Flow</i></h6>
                        <div class="row bg-muted p-4">
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/PYM/Screen Flows/1.jpg" alt="Userflow">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/PYM/Screen Flows/2.jpg" alt="Userflow">
                            </div>
                            <div class="col-lg-6">
                                <img src="assets/images/Portfolio/PYM/Screen Flows/3.jpg" alt="Userflow">
                            </div>
                        </div>
                    </div>

                </div>

                <!-- UI Designs  -->
                <div class="col-lg-12" id="ui-design">
                    <h4 class="fw-medium" style="opacity: .8;">UI Design</h4>
                    <p>
                        Multiple iterations were made from older screens to newer screens
                    </p>

                    <div class="text-center my-4">
                        <h6><i>Newer Screens</i></h6>
                        
                        <div class="ui-designs phone-size">

                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/1.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/2.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/3.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/4.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/5.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/6.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/8.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/9.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/11.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/13.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/14.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/15.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/16.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/17.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/18.jpg" alt="UI Designs">
                            </div>
                            <div class="items">
                                <img src="/assets/images/Portfolio/PYM/screens/19.jpg" alt="UI Designs">
                            </div>

                        </div>
                    </div>

                </div>
                <!-- End of UI Designs  -->

                <div class="col-lg-12" id="prototyping">
                    <h4 class="fw-medium" style="opacity: .8;">Prototyping</h4>
                    <p>
                        The following prototypes were made after designing 
                    </p>
                    <div class="text-center my-4">
                        <div class="row flex-wrap bg-muted p-4 prototype-laptop">
                            <div>
                                <img src="/assets/images/Portfolio/PYM/videos/1.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <!-- <h6>Prototype</h6> -->
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/PYM/videos/2.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <!-- <h6>Prototype</h6> -->
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/PYM/videos/3.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <!-- <h6>Prototype</h6> -->
                            </div>
                            <div>
                                <img src="/assets/images/Portfolio/PYM/videos/4.gif" alt="Prototype" class="mb-4 object-fit-contain" style="max-height: 240px;">
                                <!-- <h6>Prototype</h6> -->
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution chosen and why</h2>
                    <p>
                        Why a mobile app - a mobile app was the best solution as from our research we found that:
                    </p>
                    <ul>
                        <li><p>Users normally plan alarms for their medications using their phones</p></li>
                        <li><p>Sticking to normal behaviors of setting alarms is normally done on phones</p></li>
                        <li><p>There is much convenience when using a mobile app</p></li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">Solution Validation</h2>
                    <p>
                        We tested our MVP through the following ways:
                    </p>
                    <ul>
                        <li><p>User Testing</p></li>
                        <li><p>A/B Testing</p></li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <h2 class="title fw-semibold">What I would have done differently</h2>
                    <p>
                        These are the lessons and learnings I got from working on this project
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#1. Designing what the client wants & importance of carrying out UX research initially</h4>
                    <p>
                        Initially I worked on this project while I was fairly new to UI design, and being the only designer, made me realize I should have carried out more UX research and not only designing what the client wants, it could have sped up our designing timeline and haphazardly designing screens that don’t solve the main objective.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#2. Taking more importance to sketching and wireframing</h4>
                    <p>
                        I immediately started with designing the hi-fidelity wireframes, which took up too much time only to be rejected later. I would have instead sketched the designs first and approved with the client before creating the hi-fidelity design.
                    </p>
                </div>
                <div class="col-lg-12">
                    <h4 class="fw-medium" style="opacity: .8;">#3. Prototyping everything wasn't necessarry</h4>
                    <p>
                        I initially assumed I needed to prototype every single screen in order to provide a seamless app flow when presenting to stakeholders. This became time consuming instead of only prototyping screens that aren’t easy to show with only screen flow arrows.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Hero Section -->

<!-- Contact Section -->
<!-- <app-contact-me></app-contact-me> -->