@import '/src/styles/base/grid';

.slider-container {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
    max-width: 300px;
    // padding: 2em;
}

img {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    background-color: #eee;
    display: block;
    border-radius: 50%;
    object-fit: cover;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

@media screen and (min-width: $sm) {
    .slide {
        padding: 2em;
    }
}