<section class="text-center">
    <div class="container">
        <h2 class="fw-semibold">Happy Clients, Happy Life</h2>
        <p>What my clients said about my work ethic</p>
        <div class="slider-container">
            <button class="arrow left-arrow" (click)="prevSlide()">&#8249;</button>
            <div class="slider-wrapper" #sliderWrapper>

                <div class="slide text-center">
                    <img src="/assets/images/testimonials/kevin.jfif" alt="Client 1" class="mb-2">
                    <h4>Kevin Baraza</h4>
                    <p>CEO, QXP</p>
                    <div class="my-3">
                        <p>
                            “Clarice designed our LMS for the past 2 years and we couldn't be happier. She understood our needs and created a design that is not only visually pleasing but also easy for our students to navigate. Her work has been a major factor in the success of our online program”
                        </p>
                    </div>
                </div>

                <div class="slide text-center">
                    <img src="/assets/images/testimonials/lucy.png" alt="Slide 1" class="mb-2">
                    <h4>Lucy Kathurima</h4>
                    <p>CEO, Shared Values</p>
                    <div class="my-3">
                        <p>
                            “Clarice's design work for our NGO has been nothing short of amazing. They truly understood our mission and created a design that effectively conveyed our message and resonated with our audience. Their work has helped us to increase donations and make a bigger impact for children in need. We are grateful for their dedication and talent.”
                        </p>
                    </div>
                </div>

                <div class="slide text-center">
                    <img src="/assets/images/testimonials/pym-icon.png" alt="Slide 1" class="mb-2">
                    <h4>Jai Singh</h4>
                    <p>CEO, Plan Your Meds</p>
                    <div class="my-3">
                        <p>
                            “Clarice's work on our medical planner app was outstanding. They understood our needs and delivered a visually appealing and user-friendly design. Our app has been a success thanks to their hard work.”
                        </p>
                    </div>
                </div>
                
            </div>
            <button class="arrow right-arrow" (click)="nextSlide()">&#8250;</button>
        </div>
    </div>
</section>
