@import '../base/variables';

*, html, body, h1, h2, h3, h4, h5, h6, p, span {
    font-family: $font-family;
    font-weight: $regular;
    line-height: $line-height;
}
h1, h2, h3, h4, h5, h6, p {
    margin: .25em 0 .5em;
}
body, p {
    font-size: $body-size;
}
h1 {
    font-weight: $semibold;
    font-size: $heading-size;
}
h2 {
    font-size: $subheading-size;
}
p {
    font-weight: $regular;
}
span {
    font-size: $span-size;
}