// Colors
$primary: #2697FF;
$black: #232323;
$white: #f4f4f4;
$muted: #A7A7A7;
$success: #35D559;
$warning: #FFD51F;
$danger: #FF5858;

// Background colors
$background: #F5FAFF;

// Font-family
$font-family: 'Figtree';
// $font-family: 'Plus Jakarta Sans';

// Font-size
$body-size: 18px;
$cta-size: 3.5em;
$heading-size: 2.5em;
$subheading-size: 2em;
$span-size: .75em;

$line-height: 1.2;

// Font-weight
$extra-light: 300;
$light: 400;
$regular: 500;
$medium: 600;
$semibold: 700;
$bold: 800;
$extra-bold: 900;

// Screens
$xl: 1600px;
$l: 1200px;
$md: 960px;
$sm: 767px;
$xs: 320px;

// Box shadows
$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$primary-shadow: rgba(0, 133, 255, 0.08) 4px 4px 24px 4px;